*.pyc
__pycache__/
images_gen/
Venv/
.ipynb_checkpoints/
*.pyc
Used_Codes/
images_notupload/*.png
images_notupload/*.jpg
images_notupload
test.ipynb
.DS_Store
*.jpg
Opti_Result_RV_s73.04_IG_s59.00_v3.00.png
Opti_Result_RV_s73.04_IG_s68.00_v9.00.png
Opti_Result_RV_s73.04_IG_s70.00_v15.00.png
Opti_Result_RV_s73.04_IG_s74.00_v22.00.png
